@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');



nav{
    height: 150px !important;
}
body{
    background-image: url(../images/WI-unsplash.jpg) !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    filter:brightness(90%);
    height: 100%;
    
    font-family: 'Lobster Two', cursive;
}
.edit{
    font-size: 12px;
}
thead{

    font-size: 24px;
    font-weight: 50px
}
   
tbody{
    
    font-size: 24px;
    font-weight: 50px;
}