{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  {% if title %}
  <title>hooDWATCH - {{title}}</title>
  {% else %}
    <title> hooDWATCH </title>
  {% endif %}
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    {% endblock %}

    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            
            <script type="text/javascript">
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                    var posts = []
                    $.ajax({
                        url: 'http://'+ window.location.host +'/api/businesses',
                        success: function (data) {
                            $.each(data, function(index,value) {
                                posts.push(value['name'])
                            });
                            $( "#search" ).autocomplete({
                              source: posts
                            });
                            $('.modal').modal();
                        }
                    });
                 });
            </script>
        {% endblock %}
    </body>
</html>